include README.txt
include LICENSE.txt
include CHANGES.txt
include MANIFEST.in
include setup.py

include examples/enhancedserial.py
include examples/miniterm.py
include examples/port_publisher.py
include examples/port_publisher.sh
include examples/rfc2217_server.py
include examples/scan.py
include examples/scanlinux.py
include examples/scanwin32.py
include examples/setup-miniterm-py2exe.py
include examples/setup-rfc2217_server-py2exe.py
include examples/setup-wxTerminal-py2exe.py
include examples/tcp_serial_redirect.py
include examples/wxSerialConfigDialog.py
include examples/wxSerialConfigDialog.wxg
include examples/wxTerminal.py
include examples/wxTerminal.wxg

include test/run_all_tests.py
include test/test.py
include test/test_advanced.py
include test/test_high_load.py
include test/test_io_lib.py
include test/test_readline.py

include documentation/*.rst
include documentation/pyserial.png
include documentation/conf.py
include documentation/Makefile

