# Copyright Roger Meier <r.meier@siemens.com>
# SPDX-License-Identifier:    BSD-3-Clause

language: python

python:
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - pypy

script:
  - python setup.py install
  - python test/test.py loop://
